* {
  font-family: "Microsoft JhengHei", "Arial", sans-serif;
}

body {
  background-color: #f7f9fc;
  margin: 0;

  padding: 0px;
  color: #333;
}
#chart_div {
  width: 100%;
  height: auto;
  max-width: 100%;
  /* Ensures it takes the full page width on the web */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow-x: auto;
}

h1 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 30px;
}

.button-container {
  text-align: center;
  margin-bottom: 10px;
  /* vertically center */
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  gap: 10px; /* Space between buttons */
}

button {
  /* white */
  background-color: #fff;
  border: none;
  padding: 0px 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  /* light yellow */
  background-color: #f1c40f;
}

input[type="file"] {
  display: none;
}

.button-color-config {
  background-color: #bdc3c7;
  color: #2c3e50;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.button-color-config:hover {
  background-color: white;
}
a {
  text-decoration: none; /* Remove the underline */
  color: inherit; /* Inherit color from parent, or specify a specific color */
}

/* Remove special styling for visited links */
a:visited {
  color: inherit; /* Keep color the same as non-visited links */
  text-decoration: none; /* No underline for visited links */
}
.banner-div {
  background-color: #0376c2;
  margin: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Horizontally center all content */
  color: white;
  position: fixed;      /* Make it stay on top */
  top: 0;               /* Stick to the top */
  width: 100%;          /* Full width */
  z-index: 1000;        /* Ensure it's above other content */
  height: 60px;         /* Set a fixed height */
}
.company-name {
  margin-right: 20px;
}
.setup-area {
  background-color: #f1f1f1; /* light grey */
  padding-top: 10px;
  padding-bottom: 4px;
  margin-bottom: 0px; /* a bottom border */
  border-bottom: 1px solid #ccc;
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow wrapping */
  justify-content: left; /* Horizontally center */
  align-items: center; /* Vertical alignment */
  margin-top: 60px; /* Add a margin to prevent it from hiding behind the banner */
  padding-left: 20px;
}

.banner-div > div {
  text-align: center; /* Center text inside sections */
}

.setup-area > div {
  margin: 5px; /* 控制元素之間的間距 */
}
/* 使標籤、輸入框和按鈕的寬度自適應 */
/* label {
        margin-right: 10px;
      } */

input[type="text"] {
  width: 256px; /* 保持原來的寬度 */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="color"] {
  margin-left: 10px; /* 顏色選擇器的左邊距 */
}

button {
  margin: 0 5px; /* 按鈕之間的邊距 */
}
input[type="checkbox"] {
  display: inline-block; /* Ensures the checkbox is displayed inline */
}
.checkbox-container {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Align items vertically centered */
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px; /* Space between checkbox and label */
}
#colorList {
  display: flex; /* 使用 flexbox 來排列顏色框 */
  flex-wrap: wrap; /* 允許換行 */
  align-items: center; /* 垂直居中對齊 */
  margin-left: 10px; /* 與顏色標籤的間距 */
}

.color-box {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px; /* 顏色框之間的間距 */
  cursor: pointer;
}
@media print {
  .button-container {
    display: none;
  }

  #chart_div {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

#employeeName {
  /* style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"  */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zoom-buttons button {  
  font-size: 32px;
  float: right;
}
